.Order {
    background-color: var(--mainDark);
    width: 460px;
    position: relative;
}

.Order.open {
    transform: translateX(0);
    opacity: 1;
    pointer-events: auto;
}

@media (max-width:880px) {
    .order__comment{
        width: 320px;
        input{
            width: 320px;
        }
    }
}
.order__right{
    transform: translateX(-458px);
}
.order__left{
    transform: translateX(0px);
}



.display__none {
    display: none;
}

.display__block {
    display: block;
}

.order__title {
    color: white;
    font-size: 25px;
}
@media (max-width:780px) {
    .order__info{
        width: 350px;
    }
    .order__menu{
        width: 350px;
    }
}
@media (max-width:760px) {
    .order__info{
        width: 320px;
    }
    .order__menu{
        width: 320px;
    }
    .payment__footer{
        width: 320px;
        button{
            width: 320px;
        }
    }
    .discount{
        width: 320px;
    }
    .total{
        width: 320px;
    }
}
@media (max-width:740px) {
    .order__menu{
        padding: 0px 10px;
    }
}
@media (max-width:730px) {
    .order__menu{
        width: 300px;
    }
}
@media (max-width:720px) {
    .order__info{
        width: 300px;
    }
    .bottom__line{
        width: 200px;
    }
}
@media (max-width:700px) {
    .order__menu{
        padding: 0px 3px;
    }
}

.order__inner{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px 20px;
}

.order__list{
    transform: translateX(-30px);
    display: flex;
    padding-top: 20px;
    gap: 10px;
}

.order__btn{
    border-radius: 8px;
    padding: 7px 12px;
    border: 1px solid var(--lightOrange);
    background-color: var(--mainDark);
    color: var(--lightOrange);
    font-size: 14px;
}

.order__btn:hover {
    color: white;
    background-color: var(--lightOrange);
}

.active {
    color: white;
    background-color: var(--lightOrange);
}


.order__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 15px 5px;

    div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 120px;
        
    }
}

.bottom__line {
    max-width: 409px;
    height: 1px;
    background-color: #393C49;
    margin-left: 5px;
}
.order__menu{
    height: 100vh;
    overflow-y: auto;
    padding-bottom: 140px;
}
.order__menu::-webkit-scrollbar{
    width: 8px;
}
.order__menu::-webkit-scrollbar-track{
    background-color: var(--textColor);
    border-radius: 8px;
}
.order__menu::-webkit-scrollbar-thumb{
    background: var(--lightDark);
    border-radius: 10px;
}
.order__thing {
    margin-top: 50px;
}


@media (max-width:1200px) {
    .order__menu{
        width: 410px;
    }
    .order__control{
        display: flex;
        flex-direction: column;
        width: 200px;
    }
    .order__comment{
        width: 350px;
        transform: translateX(-30px);
        padding: 0 30px;
        .order__menu{
            padding: 0 10px;
        }
    }
    .count{
        margin-right: 300px;
        margin-top: 20px;
    }
    .order__inner2{
        margin-right: 160px;
    }
    .bottom__line{
        width: 320px;
    }
    .delete{
        width: 38px;
        height: 38px;
        border-radius: 4px;
    }
}

.order__comment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    width: 390px;

    input {
        width: 320px;
        height: 48px;
        background-color: #2D303E;
        border: none;
        border-radius: 8px;
        padding: 15px;
        color: grey;
        outline: none;
        margin-left: 5px;
    }

    .delete {
        cursor: pointer;
        width: 48px;
        height: 48px;
        border-radius: 8px;
        border: 1px solid var(--lightOrange);
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateX(10px);

        button {
            background-color: transparent;
            border: none;
            font-size: 16px;
        }

        i {
            color: var(--lightOrange);
            font-size: 16px;
        }
    }

    .delete:hover {
        background-color: #9288E0;
        border: none;

        i {
            color: white;
        }
    }
}

.order__control{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 369px;
    color: white;
}

.order__inner2 {
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}

.order__name {
    width: 140px;
    height: 39px;
    margin-top: -30px;
    span{
        display: block;
    }
}

.count{
    display: flex;
    justify-content: space-between;
    align-items: center;width: 120px;
    height: 40px;
    transform: translateX(33px);

    .count__btn {
        width: 48px;
        height: 48px;
        border-radius: 8px;
        background-color: #2D303E;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.payment__footer {
    display: flex;
    flex-direction: column;
    color: white;
    width: 450px;
    padding: 60px 35px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--mainDark);
    padding: 20px;
    z-index: 1000;
    .discount {
        display: flex;
        justify-content: space-between;
    }

    .total {
        display: flex;
        justify-content: space-between;
    }

    button {
        padding: 14px;
        border: none;
        background-color: var(--lightOrange);
        color: white;
        border-radius: 8px;
    }
}
@media (max-width:820px) {
    .Order{
        display: flex;
        flex-direction: column;
    }
}
.payment__methods{
    position: absolute;
    top: 0;
    right: -458px;
    z-index: 3;
    width: 458px;
    height: 100%;
    background-color: var(--mainDark);
    border: 1px solid #393C49;
}

@media (max-width:1200px){
    .box__shadow{
        left: -550px;
    }
    .order__name{
        span{
            display: none;
        }
        p{
            transform: translateY(20px);
        }
    }
}

.methods__header {
    padding: 62px 25px;
    color: white;

    p {
        color: var(--textColor);
    }
}

.bottom__line2 {
    width: 409px;
    height: 1px;
    background-color: #393C49;
    margin: 0 auto;
}
.payment__list{
   padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;width: 369px;
    .payment__item{  
        border: 1px solid #393C49;
        width: 101px;
        height: 64px;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        color: var(--textColor);
        cursor: pointer;
        position: relative;
       
    }
    button{
        background-color: transparent;
        border: none;
    }
    .payment__item:hover{
        border: 1px solid var(--textColor);
        color: white;
        background-color: #393C49;
    }
    .tick{
        position: absolute;
        top: 1px;
        right: 5px;
        background-color: transparent;
        color: var(--lightOrange);
    }
    .active1{
        border: 1px solid var(--textColor);
        color: white;
        background-color: #393C49;
    }
    
}
.payment__inputs{
    color: white;
    padding: 25px 30px;
    
    input{
        background-color: #393C49;
        border-radius: 8px;
        border: none;
        outline: none;
        padding: 14px;
        color: grey;
    }
    .payment__date{
        display: flex;
        justify-content: space-between;
        input{
            width: 172px;
        }
    }
}
.confirm__control{
    padding-top: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .confirm__btn:first-child{
        width: 175px;
        height: 48px;
        border-radius: 8px;
        padding: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--mainDark);
        border: 1px solid var(--lightOrange);
        color: var(--lightOrange);
    }
    .confirm__btn:nth-child(2){
        width: 175px;
        height: 48px;
        border-radius: 8px;
        padding: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--lightOrange);
        color: white;
        border: none;
    }
}
.box__shadow{
    position: fixed;
    top: 0;
    right: 455px;
    z-index: 100;
    width: 550px;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    cursor: pointer;
}

.payment__item.active{
    border: 2px solid #EA7C69;
    background: rgba(234,124,105,0.15);
}

@media (max-width:725px) {
    .Order {
        display: none;
    }
}
@media (max-width:530px) {
    .payment__methods{
        width: 430px;
        transform: translateX(-20px);
    }
}
@media (max-width:500px) {
    .payment__methods{
        transform: translateX(-30px);
    }
}
@media (max-width:480px) {
    .payment__methods{
        transform: translateX(-40px);
    }
}
@media (max-width:460px) {
    .payment__methods{
        width: 400px;
        transform: translateX(-75px);
    }
    .bottom__line2 {
        width: 390px;
    }
}
@media (max-width:430px) {
    .payment__methods{
        width: 380px;
        transform: translateX(-90px);
    }
    .bottom__line2 {
        width: 370px;
    }
}

@media (max-width:420px) {
    .payment__methods{
        width: 360px;
        transform: translateX(-110px);
    }
    .bottom__line2 {
        width: 350px;
    }
    .payment__inputs{
        transform: translateX(-23px);
    }
    .confirm__control{
        transform: translateX(10px);
    }
}

@media (max-width:420px) {
    .order__inner{
        transform: translateX(-20px);
    }
}
@media (max-width:380px) {
    .order__inner{
        transform: translateX(-30px);
        width: 200px;
        padding: 0px -20px;
    }
}