.Pie {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pie__header {
    padding: 30px 30px;

    p {
        color: var(--textColor);
    }
}

.bottom__lin {
    width: 746px;
    height: 2px;
    background-color: #0000001a;
    margin-top: 25px;
}

.total__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
}

.total__item {
    width: 199px;
    height: 143px;
    border-radius: 8px;
    background-color: var(--mainDark);
    padding: 15px 20px;

    h4 {
        color: white;
    }

    p {
        color: var(--textColor);
    }
}

.total__div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 130px;
}

.total__wrapper:first-child {
    width: 38px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: #252836;

    i {
        color: #9288E0;
    }
}

.total__wrapper2 {
    width: 38px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: #252836;

    i {
        color: #FFB572;
    }
}

.total__span {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.total__percent1 {
    color: #50D1AA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90px;
}

.total__percent2 {
    color: #FF7CA3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90px;
}

.total__icon {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: var(--lightDark);
    display: flex;
    justify-content: center;
    align-items: center;
}

.total__icon2 {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #f7a0a7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.picon__ppl {
    color: #65B0F6;
}

.customers {
    width: 746px;
    height: 506px;
    border-radius: 8px;
    background-color: var(--mainDark);
    margin-top: 20px;
    margin: 30px;
}

.order__report {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 30px 20px;
}

.filter__order {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 128px;
    height: 45px;
    border: 1px solid var(--lightDark);
    border-radius: 8px;
    padding: 10px;

    p {
        padding-top: 12px;
    }
}

.order__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 696px;
    color: white;
    padding: 0px 25px;
}

.border__bottom {
    width: 746px;
    height: 1px;
    background-color: var(--lightDark);
}

.customer__info {
    display: flex;
    justify-content: space-between;
    width: 696px;
    height: 66px;
    color: var(--textColor);
    padding-top: 30px;
    padding-left: 15px;
}

.customer__name {
    display: flex;
    justify-content: space-between;
    width: 154px;
    padding: 0px 10px;

    div {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-color: #FFB572;
    }
}

.customer__food {
    width: 137px;
    height: 40px;
    transform: translateX(-25px);
}

.customer__price {
    transform: translateX(-65px);
}

.customer__status {
    width: 113px;
    height: 36px;
    padding: 5px 18px;
    border-radius: 30px;
    background-color: #50D1AA;
    color: white;
    transform: translateX(30px);
}

.status {
    transform: translateX(-20px);
}

.customer__name1 {
    display: flex;
    justify-content: space-between;
    width: 154px;
    padding: 0px 10px;

    p {
        transform: translateX(20px);
    }

    div {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-color: #65B0F6;
    }
}

.customer__status1 {
    padding: 5px 24px;
    border-radius: 30px;
    background-color: #9290FE;
    color: white;
    transform: translateX(30px);
}

.customer__name2 {
    display: flex;
    justify-content: space-between;
    width: 154px;
    padding: 0px 10px;

    p {
        transform: translateX(20px);
    }

    div {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-color: rgb(255, 150, 167);
    }
}

.customer__status2 {
    padding: 5px 28px;
    border-radius: 30px;
    background-color: #FFB572;
    color: white;
    transform: translateX(30px);
}

.customer__title {
    transform: translateX(10px);
}

.customer__name3 {
    display: flex;
    justify-content: space-between;
    width: 154px;
    padding: 0px 10px;

    div {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-color: aqua;
    }
}

.customer__name4 {
    display: flex;
    justify-content: space-between;
    width: 154px;
    padding: 0px 10px;

    div {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-color: rgb(0, 183, 255);
    }
}

.most__ordered{
    max-width: 372px;
    background-color: var(--lightDark);
    border: 1px solid #393C49;
    padding: 25px;
}

@media (max-width:1200px) {
    .most__ordered {
        width: 362px;
        background-color: var(--lightDark);
        border: 1px solid #393C49;
        padding: 25px;
    }

    .Pie {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}

@media (max-width:915px) {
    .total__list {
        display: flex;
        flex-direction: column;
    }

    .total__item {
        margin-top: 10px;
        width: 399px;
    }

    .customers {
        width: 647px;
        margin: 0 auto;
    }

    .order__report {
        width: 596px;
    }

    .order__top {
        width: 596px;
    }

    .customer__info {
        width: 596px;
    }

    .most__ordered {
        margin-left: 150px;
    }

    .bottom__lin {
        width: 646px;
    }
}

@media (max-width:800px) {
    .bottom__lin {
        width: 546px;
    }

    .customers {
        transform: translateX(20px);
    }
}

@media (max-width:790px) {
    .customers {
        width: 496px;
    }

    .customer__name,
    .customer__name1,
    .customer__name2,
    .customer__name3,
    .customer__name4 {
        display: flex;
        flex-direction: column;
    }

    .order__report {
        width: 496px;
    }

    .order__top {
        width: 496px;
    }

    .customer__info {
        width: 496px;
    }

    .customer__food {
        width: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .customer__price {
        padding-left: 40px;
    }

    .customer__name,
    .customer__name1,
    .customer__name2,
    .customer__name3,
    .customer__name4 {
        p {
            transform: translateX(-2px);
        }
    }

    .most__ordered {
        transform: translateX(-20px);
    }

    .customer__status,
    .customer__status1,
    .customer__status2 {
        width: 90px;
        height: 30px;
        transform: translateX(-10px);

        p {
            display: flex;
            justify-content: center;
            align-items: center;
            transform: translateY(-2px);
            font-size: 15px;
        }
    }
}

@media (max-width:700px) {
    .bottom__lin {
        width: 400px;
    }

    .most__ordered {
        margin-left: 70px;
    }
}

@media (max-width:635px) {
    .customers {
        width: 396px;
        transform: translateX(-3px);
    }

    .order__report {
        width: 396px;
    }

    .order__top {
        width: 396px;
    }

    .customer__info {
        width: 396px;
    }

    .most__ordered {
        margin-left: 20px;
    }

    .customer__price {
        transform: translateX(-17px);
    }
}

@media (max-width:540px) {
    .total__item {
        width: 350px;
    }

    .bottom__lin {
        width: 380px;
    }
}


.most__header {
    background-color: #1F1D2B;
    width: 372px;
    height: 429px;
    padding: 24px;
    border-radius: 8px;
}

.most__dishes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;

    h3 {
        font-size: 20px;
        color: white;
    }

    select {
        width: 105px;
        height: 35px;
        border: 1px solid #393C49;
        background-color: #1F1D2B;
        color: white;
        padding: 0px 5px;
        border-radius: 8px;
        outline: none;
    }
}

.bottom__line3 {
    margin-top: 30px;
    width: 322px;
    height: 1px;
    background-color: #393C49;
}

.ordered__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 210px;
    margin-top: 20px;
    transform: translateX(-30px);
}

.ordered__item {
    display: flex;
    justify-content: space-between;
    width: 291px;
}

.ordered__text {
    .dish__count {
        margin-top: -15px;
    }
}

.ordered__btn {
    width: 324px;
    height: 48px;
    border-radius: 8px;
    border: 1px solid var(--lightOrange);
    background-color: var(--mainDark);
    color: var(--lightOrange);
}

.order__type {
    margin-top: 88px;
    background-color: #1F1D2B;
    width: 372px;
    height: 333px;
    padding: 24px;
    border-radius: 8px;
}

.bottom__line4 {
    background-color: #393C49;
    width: 372px;
    height: 1px;
    margin-left: -25px;
    margin-top: 15px;
}

.radial__chart {
    width: 176px;
    height: 176px;
}

.customer__chart {
    display: flex;
    justify-content: space-between;
    height: 200px;
    padding: 30px 0px;
}

.customer__list {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;

    .customer__item {
        display: flex;
        justify-content: space-between;
        width: 180px;

        p {
            font-size: 14px;
        }

        .cutomer__span {
            font-size: 12px;
            transform: translateY(-10px);
            color: var(--textColor);
        }
    }

    .customer__span {
        font-size: 15px;
    }
}

.cutomer__number {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 150px;
}

.customer__color {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #FF7CA3;
}

.customer__color2 {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #FFB572;
}

.customer__color3 {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #65B0F6;
}


@media (max-width:525px) {
    .bottom__lin {
        width: 350px;
    }

    .customers {
        width: 350px;
    }

    .order__report {
        width: 350px;
    }

    .order__top {
        width: 380px;
        p{
            font-size: 14px;
        }
    }

    .customer__info{
        width: 350px;
    }

    .customer__name,
    .customer__name1,
    .customer__name2,
    .customer__name3,
    .customer__name4 {
        p {
            width: 70px;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            padding-bottom: 3px;
            font-size: 11px;
        }
    }
    .customer__food{
        font-size: 12px;
    }
    .customer__price{
        font-size: 12px;
        transform: translateX(-30px);
    }
    .customer__status, .customer__status1, .customer__status2{
        width: 60px;
        padding: 7px;
        p{
            font-size: 12px;
        }
    }

    .most__header{
        width: 350px;
    }
    .order__type{
        width: 350px;
    }
    .ordered__btn{
        transform: translateX(-10px);
    }
    .customer__chart{
        transform: translateX(-10px);
    }
}

@media (max-width:490px) {
    .bottom__lin {
        width: 300px;
    }

    .total__item{
        width: 280px;
    }

    .customers {
        width: 280px;
    }

    .order__report {
        width: 280px;
    }

    .order__top {
        width: 310px;
        p{
            font-size: 14px;
        }
    }

    .customer__info{
        width: 280px;
    }

    .customer__food{
        font-size: 12px;
        transform: translateX(8px);
    }
    .customer__price{
        font-size: 12px;
        transform: translateX(-20px);
    }
    .customer__status, .customer__status1, .customer__status2{
        width: 50px;
        padding: 8px;
        p{
            font-size: 10px;
        }
    }

    .most__ordered{
        transform: translateX(-8px);
    }
    .most__header{
        width: 280px;
        p{
            overflow: hidden;
        }
    }
    .order__type{
        width: 280px;
        height: 500px;
    }
    .ordered__btn{
        width: 230px;
        transform: translateX(3px);
    }
    .customer__chart{
        transform: translateX(-10px);
    }
    .ordered__text{
        p{
            transform: translateX(-50px);
            width: 180px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
    .customer__chart{
        display: flex;
        flex-direction: column;
    }
}

@media (max-width:430px) {
    .bottom__lin {
        width: 270px;
    }

    .total__item{
        width: 250px;
    }

    .customers {
        width: 250px;
    }

    .order__report {
        width: 250px;
    }

    .order__top {
        width: 300px;
        p:nth-child(3){
            font-size: 14px;
            padding-right: 14px;
        }
        p:nth-child(4){
            font-size: 14px;
            padding-right: 14px;
        }
    }

    .customer__info{
        width: 250px;
    }

    .customer__food{
        font-size: 12px;
        transform: translateX(8px);
    }
    .customer__price{
        font-size: 12px;
        transform: translateX(-20px);
    }

    .most__ordered{
        transform: translateX(-10px);
    }
    .most__header{
        width: 250px;
        p{
            overflow: hidden;
        }
    }
    .order__type{
        width: 250px;
        height: 550px;
    }
    .ordered__btn{
        width: 200px;
        transform: translateX(3px);
    }
    .customer__chart{
        transform: translateX(-10px);
    }
    .ordered__text{
        p{
            transform: translateX(-80px);
            width: 150px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
    .customer__chart{
        display: flex;
        flex-direction: column;
    }
}

@media (max-width:400px) {
    .pie__inner{
        transform: translateX(-20px);
    }
    .bottom__lin {
        width: 250px;
    }
    .most__header{
        transform: translateX(-30px);
    }
    .order__type{
        transform: translateX(-30px);
    }
}