.Home {
    width: 60%;
    background-color: var(--lightDark);
}

@media (max-width:1000px) {
    .home__info {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .catgory__list {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
    .lang{
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

.home__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;

    h2 {
        color: white;
    }

    p {
        color: white;
    }

    .home__search {
        padding: 14px;
        background-color: #2D303E;
        border-radius: 8px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 240px;
        button {
            border: none;
            background-color: #2D303E
        }

        input {
            background-color: #2D303E;
            border: none;
            outline: none;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: #ABBBC2;
            width: 170px;
        }

        input:placeholder {
            color: #ABBBC2;
            background-color: #2D303E;
        }
    }
}

.catgory__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: -30px;
    margin-top: 50px;

    .category__btn {
        color: white;
        border: none;
        background-color: var(--lightDark);
        height: 40px;
        padding-bottom: 12px;
        transition: all ease 0s;
    }

    .category__btn:hover {
        color: var(--lightOrange);
        border-bottom: 2px solid var(--lightOrange);
        padding-bottom: 10px;
    }

    .active {
        color: var(--lightOrange);
        border-bottom: 2px solid var(--lightOrange);
        padding-bottom: 10px;
    }
}

@media (max-width:965px) {
    .food__list {
        display: flex;
        flex-direction: column;
    }
}

.food__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px;
}

.food__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    height: 260px;
    background-color: var(--mainDark);
    padding: 10px 32px;
    border-radius: 16px;
    margin-top: 40px;

    button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    div {
        transform: translateY(-50px);
    }

    img {
        width: 132px;
        height: 132px;
    }

    p {
        color: white;
        width: 144px;
    }

    span {
        color: var(--textColor);
    }
}


@media (max-width:360px) {
    .food__item {
        width: 150px;
        height: 190px;

        img {
            width: 90px;
            height: 90px;
        }

        p {
            font-size: 13px;
            width: 80px;
            transform: translateX(3px);
        }

        span {
            font-size: 10px;
            width: 40px;
        }
    }

}

.choose__div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart__wrapper {
    position: relative;
    cursor: pointer;
    display: none;
}

.overall {
    position: absolute;
    top: -6px;     /* tepaga chiqadi */
    right: -8px;   /* o‘ngga chiqadi */

    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: var(--lightOrange);
    color: white;

    p{
        display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    }
}

.category__select {
    display: none;
    width: 150px;
    padding: 10px;
    border-radius: 8px;
    background-color: #2D303E;
    color: white;
    border: none;
    margin-top: 20px;
    outline: none;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.food__cart {
    position: relative;
}


@media (max-width:820px) {
    .Home {
        margin: 0 auto;
    }
    .cart__wrapper{
        display: block;
    }
    .overall {
        display: block;
    }

    .catgory__list {
        display: none;
        /* buttonlar yo‘qoladi */
    }

    .category__select {
        display: block;
        /* select chiqadi */
    }
}
.modal .btn-close{
    filter: invert(1);
}
.modal .Order {
    display: block !important;
}
.modal-body{
    background-color: var(--mainDark);
}
.modal-header{
    background-color: var(--mainDark);
    color: white;
    border-bottom: 1px solid var(--lightDark);
    button{
        color: white;
    }
}
.modal-footer{
    background-color: var(--mainDark);
    border-top: 1px solid var(--lightDark);
}
.btn-close{
    color: white;
}


.lang {
    position: relative;
    cursor: pointer;
  }
  
  .lang__icon {
    font-size: 30px;
    color: var(--mainDark);
  }
  
  .lang__dropdown {
    position: absolute;
    top: 30px;
    right: 0;
    background: var(--mainDark);
    border-radius: 8px;
    padding: 5px 0;
    width: 80px;
  }
  
  .lang__dropdown p {
    padding: 8px;
    margin: 0;
    color: white;
    text-align: center;
  }
  
  .lang__dropdown p:hover {
    background: #2D303E;
  }