.Settings {
    background-color: var(--lightDark);
    min-height: 100vh;
    padding: 20px 30px;
    overflow: hidden;
}


.settings__title {
    font-size: 28px;
    color: white;
}

.product__management {
    max-width: 843px;
    background-color: var(--mainDark);
    padding: 0px 30px;
    border-radius: 8px;
    margin-top: 30px;
    ul{
        margin-top: -5px;
    }
    h4 {
        font-size: 20px;
        color: white;
        padding: 30px 0px;
    }

    .category__btn1 {
        color: white;
        border: none;
        background-color: var(--mainDark);
        height: 40px;
        padding-bottom: 12px;
        transition: all ease 0s;
    }

    .category__btn1:hover {
        color: var(--lightOrange);
        border-bottom: 2px solid var(--lightOrange);
        padding-bottom: 10px;
    }

    .active {
        color: var(--lightOrange);
        border-bottom: 2px solid var(--lightOrange);
        padding-bottom: 10px;
    }
}


.border__bottom2 {
    width: 783px;
    height: 1px;
    background-color: #393C49;
    margin-top: 0px; /* transform o‘rniga */
}

.setting__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 30px;
    margin-left: -30px;
}
.settings__item{
    border: 1px solid var(--lightOrange);
    border-radius: 8px;
    overflow: hidden;
    margin-top: 10px;
    .settings__div{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        background-color: var(--mainDark);
        padding: 10px 32px;
        margin-top: 40px;
        width: 221px;
    }
    img{
        margin-left: 10px;
    }
    p {
        color: white;
    }

    span {
        color: var(--textColor);
    }
    
}
.settings__control{
    display: flex;
    justify-content: space-evenly;
    width: 100px;
    padding-left: 35px;
    padding-bottom: 10px;
    button{
        width: 40px;
    }
}
.add__dish{
    cursor: pointer;
}
.new__dish{
    display: flex;
    justify-content: center;
    color: var(--lightOrange);
    padding-top: 50%;
    margin-top: 10px;
    height: 385px;
    width: 221px;
    border: 2px dashed var(--lightOrange);
    border-radius: 8px;
    overflow: hidden;
    div{
        display: flex;
        justify-content: space-between;
        height: 50px;
        flex-direction: column;
        text-align: center;
        p{
            font-size: 20px;
        }
        span{
            font-size: 40px;
        }
    }
}
.new__dish:hover{
    background-color: var(--lightOrange);
    border: 2px dashed var(--mainDark);
    transition: all ease 0.3s;
    p,span{
        color: var(--mainDark);
    }
}

.modal__body{
    background-color: var(--mainDark);
    color: white;
}
.form__control{
    background-color: var(--mainDark);
}
.form__input{
    background-color: var(--mainDark);
    color: white;
}
.form__input:focus{
    background-color: var(--mainDark);
    color: grey;
    box-shadow: none;
    border-color: white;
}
.form__input::placeholder{
    color: grey;
}



@media (max-width:404px) {
    .new__dish{
        width: 220px;
    }
    .settings__div{
        transform: translateX(-10px);
    }
}

@media (max-width:400px) {
    .product__management{
        transform: translateX(-25px);
    }
    .new__dish{
        width: 164px;
        height: 315px;
    }
    .settings__div{
        transform: translateX(-30px);
    }
}